.footer {
  padding: 60px 0;
  background-color: $secondary-color;
  text-align: center;
  @media screen and (min-width:$desktop) {
    text-align: left;
  }
}
.footer__container {
  align-items: baseline;
  @media screen and (min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width:$desktop) {
    justify-content: space-between;
  }
}
.footer__social {
  @media screen and (max-width:767px) {
  margin: 60px auto 0;
  }
}
.footer__title {
  @include font (14px, 700, 1.14, 0.03em);
  margin-bottom: 20px;
  font-family: Roboto;
  text-transform: uppercase;
  color: $primary-color;
  text-align: center;
  @media screen and (min-width:$desktop) {
  text-align: left;
  }
}

  