.hero {
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;
  @media screen and (min-width:$desktop) {
    padding: 200px 0;}
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $tertiary-color;
  
  background-image: linear-gradient(rgba($secondary-color, 0.4),
    rgba($secondary-color, 0.4)),
    url("../images/hero-mobile.jpg");
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba($secondary-color, 0.4),
    rgba($secondary-color, 0.4)), url("../images/hero-mobile2x.jpg");
  }

  @media (min-width:481px) {
    background-image: linear-gradient(rgba($secondary-color, 0.4),
    rgba($secondary-color, 0.4)), url("../images/hero-tablet.jpg");
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) { 
background-image: linear-gradient(rgba($secondary-color, 0.4),
 rgba($secondary-color, 0.4)), url("../images/hero-tablet@2x.jpg");
}
}  
  @media (min-width:769px) {
    background-image: linear-gradient(rgba($secondary-color, 0.4),
    rgba($secondary-color, 0.4)), url("../images/hero-desktop.jpg");
    @media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)  {
      background-image: linear-gradient(rgba($secondary-color, 0.4),
      rgba($secondary-color, 0.4)), url("../images/hero-desktop@2x.jpg");
    }
}
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
@media screen and (min-width:$desktop) {
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
}
  margin: 0 auto 30px;
  color: $primary-color;
  font-weight: 900;
  letter-spacing: 0.06em;
}