.review {
  display: none;
  @media screen and (min-width:$desktop) {
  display: block;
  padding-bottom: 94px;
  }
}
.review__list {
  display: flex;
  margin: -15px;
}
.review__item {
flex-basis: calc((100% - 3 * 30px) / 3);
 margin: 15px;
} 
.review__thumb {
  position: relative;
  width: 100%;
  height: 100%;
}
.review__wrap {
  @extend %flex-center-style;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba($secondary-color, 0.8);
}
.review__description {
  @include font (14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
}