.backdrop {
  @include transition (opacity);
    position: fixed;
    z-index: 1;
    background-color: $primary-shade2-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop--is-hidden .backdrop__modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
  .backdrop__modal {
    @include transition (transform);
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;
    width: 528px;
    height: 580px;
    background-color: $primary-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .modal__title {
    color: $tertiary-text-color;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  