.menu__button {
  @include transition (color);
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  &.is-open .icon-cross {
  display: block;
  }
  &.is-open .icon-menu {
  display: none;
  }
  & .icon-cross {
  display: none;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width:$tablet) {
  display: none;
  }
}

.primary-button {
  @extend %button-base-style;
  @include transition (background-color);
  @include transition (color);
    @include colored ($accent-color, $primary-color);
    @extend %flex-center-style;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba($primary-text-color, 0.15);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    &:hover,
    &:focus,
    &:active {
    @include colored ($accent-color, $primary-color);
  }
  }
  
  .primary-button__icon {
    fill: currentColor;
    margin-left: 10px;
  }
  
  .close-btn {
    @include transition (color);
    @include transition (border);
    @include bodered (rgba($primary-text-color, 0.1));
    @extend %flex-center-style;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
  }
  .close-btn__icon {
    fill: currentColor;
  }
  .secondary-button {
  @extend %button-base-style;
  @include transition (background-color);
  @include transition (color);
  @include transition (box-shadow);
  @include colored ($primary-shade-color, $tertiary-text-color);
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    &:focus,
    &:hover,
    &:active {
    @include colored ($accent-color, $primary-color);
    box-shadow: 0px 3px 1px rgba($primary-text-color, 0.1), 0px 1px 2px rgba($primary-text-color, 0.08),
    0px 2px 2px rgba($primary-text-color, 0.12);
  }
  }