
.clients__list {
  display: flex;
  @media screen and (min-width:$mobile) {
    flex-wrap: wrap;
    margin: -15px;
  }
}
.clients__item {
  @media screen and (min-width:$mobile) {
    flex-basis: calc((100% - 3 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width:$tablet) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width:$desktop) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}
.clients__link {
  @include transition (color);
  @include transition (border);
  @include decotation (none);
  @include bodered ($icon-color);
  @extend %flex-center-style;
  @media screen and (min-width:$mobile) {
    min-width: 210px;
  }
  @media screen and (min-width:$tablet) {
    min-width: 226px;
  }
  @media screen and (min-width:$desktop) {
    min-width: 170px;
  }
  min-height: 92px;
  border-radius: 4px;
  @include colored ($primary-color, $icon-color);
  &:hover,
  &:focus {
    @include bodered ($accent-color);
    color: $accent-color;
  }
}
.clients__icon {
  fill: currentColor;
}
  
  
  