// Primary-contacts
.primary-contacts {
@media screen and (max-width:767px) {
margin-top: 302px;
}
@media screen and (min-width:$desktop) {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    }
}
.primary-contacts__item {
&:last-child  {
 margin-top: 32px;
}
@media screen and (min-width:$tablet) {
    &:last-child {
        margin-top: 10px;
    }
}
@media screen and (min-width:$desktop) {
&:last-child {
margin-right: 30px;
margin-top: 0;
}
}
}
.primary-contacts__link {
@extend %primary-style-link;
color: inherit;
font-size: 24px;
@media screen and (min-width:$tablet) {
display: flex;
align-items: center;
font-size: 12px;
}
@media screen and (min-width:$desktop) {
font-size: 14px;
}
}
.link--tel {
@media screen and (max-width:767px) {
font-size: 34px;
color: $accent-color;
}
}
.contact__icon {
@media screen and (max-width:767px) {   
display: none;
}
@media screen and (min-width:$tablet) {
fill: currentColor;
margin-right: 10px;
}
}
// Secondary-contacts
.secondary-contacts__item {
margin-top: 9px;
&:first-child {
margin-top: 20px;
}
}
.secondary-contacts__link {
@extend %secondary-style-link;
@include decotation (none);
}
.secondary-contacts__link--white {
color: $primary-color;
}