// Primary-contacts
.primary-contacts {
@media screen and (max-width:767px) {
margin-top: 302px;
}
@media screen and (min-width:$tablet) {
margin-left: auto;
display: flex;
flex-direction: column-reverse;
}
@media screen and (min-width:$desktop) {
flex-direction: row-reverse;
align-items: center;
}
}
.primary-contacts__item {
@media screen and (max-width:767px) {
&:first-child  {
 margin-bottom: 32px;
}
}
@media screen and (min-width:$tablet) and (max-width:1199px) {
&:first-child {
margin-top: 10px;
}
}
@media screen and (min-width:$desktop) {
&:last-child {
margin-right: 30px;
}
}
}
.primary-contacts__link {
@extend %primary-style-link;
color: inherit;
font-size: 24px;
@media screen and (min-width:$tablet) {
display: flex;
align-items: center;
font-size: 12px;
}
@media screen and (min-width:$desktop) {
font-size: 14px;
}
}
.link--tel {
@media screen and (max-width:767px) {
font-size: 34px;
color: $accent-color;
}
}
.contact__icon {
@media screen and (max-width:767px) {   
display: none;
}
@media screen and (min-width:$tablet) {
fill: currentColor;
margin-right: 10px;
}
@media screen and (max-width:1199px) {
&.icon--desktop {
display: none;}
}
@media screen and (min-width:$desktop) {
&.icon--tablet {
display: none;}
}
}
.icon--tel {
@media screen and (min-width:$tablet) {
width: 10px;
height: 14px;
}
@media screen and (min-width:$desktop) {
width: 10px;
height: 16px;
}
}
.icon--email {
@media screen and (min-width:$tablet) {
width: 14px;
height: 10px;
}
@media screen and (min-width:$desktop) {
width: 16px;
height: 12px;
}
}
// Secondary-contacts
.secondary-contacts {
margin-top: 20px;
}
.secondary-contacts__item {
&:not(:first-child) {
margin-top: 9px;
}
}
.secondary-contacts__link {
@extend %secondary-style-link;
@include decotation (none);
}
.secondary-contacts__link--white {
color: $primary-color;
}