.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -8px;
  @media screen and (min-width:$tablet) {
  justify-content: center;
  align-items: center;
  }
}

.filter__items {
  margin: 8px;
  &:not(:last-child) {
    margin-right: 0;
  } 
}