.hero {
  text-align: center;
  @media screen and (min-width:$mobile) {
    padding: 118px 0;
    margin: 0 auto;
    width: $mobile;
}
@media screen and (min-width:$tablet) {
  padding: 118px 0;
  margin: 0 auto;
  width: $tablet;
}
@media screen and (min-width:$desktop) {
  padding: 200px 0;
  margin: 0 auto;
  width: $desktop;
}
  
  max-width: 100%;
  background-image: linear-gradient($tertiary-shade-color,
    $tertiary-shade-color),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $tertiary-color;
  text-align: center;
}
.hero__title {
  @media screen and (min-width:$mobile) {
    font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
}
@media screen and (min-width:$desktop) {
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
}
  margin: 0 auto 30px;
  
  color: $primary-color;
  font-weight: 900;
  letter-spacing: 0.06em;
}