.logo {
  @include decotation (none);
  @include font (24px, 700, 1.17, 0.03em);
  font-family: Raleway, sans-serif;
  @media screen and (min-width:$desktop) {
    @include font (26px, 700, 1.2, 0.03em);
}
}
.logo--black {
  color: $secondary-text-color;
  padding: 16px 0;
  @media screen and (min-width:$tablet) {
  padding: 26px 0;
}
@media screen and (min-width:$desktop) {
  padding: 24px 0;
}
}
.logo--white {
  color: $primary-color;
}
.logo--blue {
  color: $accent-color;
}
  