.menu__button {
    display: inline-flex;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    &.is-open .icon-cross {
        display: block;
    }
    &.is-open .icon-menu {
        display: none;
    }
    @media screen and (min-width:$tablet) {
    display: none;
    }
  }
.menu__button .icon-cross {
    display: none;
}
.menu__container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}