.menu__container {
    @media screen and (max-width:767px) {
    @include transition (transform);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $primary-color;
    transform: translateX(100%);
    &.is-open {
    display: block;
    transform: translateX(0);
    }
    }
    @media screen and (min-width:$tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    }
}

.menu__social {
@media screen and (max-width:767px) {
margin: 0 -10px;
display: flex;
} 
@media screen and (min-width:$tablet) {
display: none;
}
}
.menu-social__item {
&:not(:last-child) {
border-right: 1px solid rgba(33, 33, 33, 0.2);
}
}
.menu-social__link {
@extend %primary-style-link;
font-size: 18px;
color: $accent-color;
padding: 0 10px; 
}