.menu__button {
    @include transition (color);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    display: inline-flex;

    padding: 0;
    border: none;
    background-color: transparent;
    &.is-open .icon-cross {
        display: block;
    }
    &.is-open .icon-menu {
        display: none;
    }
    &:hover,
    &:focus {
      color: $accent-color;}
    @media screen and (min-width:$tablet) {
    display: none;
    }
  }
.menu__button .icon-cross {
    display: none;
}
.menu__container {
    @media screen and (max-width:767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    text-align: left;
    background-color: $primary-color;
    &.is-open {
    display: block;
    }
    }
    @media screen and (min-width:$tablet) {
    display: flex;
    align-items: center;
    }
}

