.section {
    padding: 60px 0;
  @media screen and (min-width:$desktop) {
  padding: 94px 0;
  }
  }
.section__title {
  color: $tertiary-text-color;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width:$desktop) {
    font-size: 36px;
  margin-bottom: 50px;
}
}