.subscribe {
margin-top: 60px;
@media screen and (min-width:$desktop) {
margin-top: 0;
}
}
.subscribe__form {
  @media screen and (min-width:$desktop) {
    display: flex;
  }
}
.subscribe__input {
  @include transition (border);
  @include bodered (rgba($primary-color, 0.3));
  @include font (14px, 400, 1.71, 0.03em);
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba($secondary-text-color, 0.15);
  @include colored (transparent, rgba($primary-color, 0.6));
  &:hover,
  &:focus {
  @include bodered ($accent-color);
  outline: 0;
  }
  @media screen and (min-width:$tablet) {
    width: 450px;
  }
  @media screen and (min-width:$desktop) {
    margin: 0 12px 0 0;
    width: 358px;
  }
}
