
    $primary-color: #ffffff;
    $primary-shade-color: #f5f4fa;
    $primary-shade2-color: rgba(0, 0, 0, 0.2);
    $secondary-color: #2f303a;
    $tertiary-color: #c4c4c4;
    $tertiary-shade-color: rgba(47, 48, 58, 0.4);
    $tertiary-shade2-color: rgba(47, 48, 58, 0.8);
    $primary-text-color: #757575;
    $shadow-text-color: rgba(255, 255, 255, 0.6);
    $shadow2-color: rgba(255, 255, 255, 0.1);
    $secondary-text-color: #000000;
    $tertiary-text-color: #212121;
    $accent-color: #2196f3;
    $accent-shade-color: rgba(33, 150, 243, 0.9);
    $border-color: #ececec;
    $border2-color: #eeeeee;
    $icon-color: #afb1b8;
    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  